body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table.users {
    width:80%;
    background-color:aquamarine;
}
table.users>td,table.users>th {
   margin:1px;

}
table.authors-comments{
    background-color:aquamarine;
}
table, th, td{
    border:1px solid ;
}
.left-posts {
    text-align:center;
    background-color: mediumspringgreen;
    height:80%;
    border-radius:10px;
}
.left-posts>h2>a:hover,
.left-posts>h3>a:hover{
   
    font-weight:bold;
}
.left-posts>h2>a, .left-posts>h3>a {
    text-decoration:none;
     color:white;
}
.form-horizontal .control-label{
    font-weight:700;
}
.btn-default{
    font-weight:700;
}
.button {
  margin:0 auto;
  display: block;
  height: 40px;
  width:120px;
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #e1e1e2;
  color: #000;
  font-weight: bold;
  text-decoration:none;
}