
﻿@model List<WebApplication.Models.Tag>

@{
    ViewBag.Title = "Index";
   
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
           Име на тага
        </th>
        <th>
           Брой постове
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.Name, "Details",
            "Tags", new { id = item.Id }, null)
           
        </td>
        <td>
            @item.Posts.Count()
      
        </tr>
}

</table>
